.myBgColor{
             background-color: #f6f3e6;
        }

        .headerNav ul li {
            padding-left: 1rem;
            padding: auto;
        }

        .headerNav ul li a {
            color: #37372b;
            text-decoration: none;
        }

        .headerNav ul li a:hover {
            background-color: white;
            
        }
        .headerNav ul li a:visited {
            color: #37372b;
            
        }

        .headerActive{
            text-decoration: underline;
            color: rgb(80, 76, 76); 
            font-weight: bolder;
        }

        
       header nav div  ul li a:visited{
            color:#37404e !important;
            
        }

        .myLogo{
        width:50px;
        height: 50px;
        margin: auto;
       ;
    }


       .bgFooter {
            background-color: #bdac8a;
        }

        .mainFooter nav ul{
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 1.2rem;
            font: inherit;
            vertical-align: baseline;
            list-style: none;
            display: flex;
            align-items: flex-end;
            justify-content: end;
        }

        .mainFooter nav ul li {
            padding-left: 1rem;
        }

        .mainFooter nav ul li a {
            color: #FFFFFF;
            text-decoration: none;
        }

        .mainFooter nav ul li a:hover {
            color: #37372b;
        }


        
/*=====================================================REPONSIVE PART=====================================================*/


@media screen and (min-width: 540px) {
    /* Mon élément */
      
      navbar-collapse-r2{
        
        
     } 

    main{
        

    }
}