






/*=====================================================HEADER PART=====================================================*/
header{
    background-color: #ded0a3;
    height: auto ;
    
    /*display:  grid;* A configurer après */
    /* grid-template-columns: 150px 1f 100px;*/
    
}


aside {
  
   
    padding: 10px;

}

.myLogo{

width:150px;
height: 150px;
margin: auto;

}




.mainNav h1{

}




/*=====================================================MAIN PART=====================================================*/
main{
      
    padding: 10px;

}






/*=====================================================FOOTER PART=====================================================*/
footer{
    background-color: #bdac8a;
   
}

footer nav{

}


/*=====================================================REPONSIVE PART=====================================================*/


@media screen  and (max-width: 576px) {
    
    
}

@media screen and (min-width: 768px) {
    /* Mon élément */
    .grid-container{
        grid-template-columns: 1fr 250px;
        grid-gap: 0.1rem;
        /* background-color: #ded0a3;*/
        width: 100%;
     }
     
      header{
        grid-column: 1/ 3 ;
     } 

    main{
        padding: 20px;
        grid-row: 2 / 5 ;
        grid-column: 1 / 2;

    }

    aside{
        grid-column:2 / 3 ;
        grid-row: 2 / 4;
    
    }

     
    
}




/*=======================1200px===========*/



@media screen  and (min-width:1200px) {
     

    header{
        display: grid;
        padding: 1rem;
        background-color: #f6f3e6;
        grid-template-columns: 150px 600px 400px 1fr;
        grid-gap: 0.1rem;
        width: 100%;
        height: 125px;
        position: fixed;
    }

     .titletHeader{
        font-family: Arial, Helvetica, sans-serif;
        align-items:center;
        justify-content: center;
    }

    .headerNav ul{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1.2rem;
        font: inherit;
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: larger;
        padding: auto;
    }

    .searchForm{
        width: 300px;
        align-items: center;
        align-items: center;


    }


      .headerNav ul li {
        padding-left: 1rem;
        padding: auto;
}

    .headerNav ul li a {
        color: #37372b;
        text-decoration: none;
        }

    .headerNav ul li a:hover {
        background-color: white;
         
    }
    .headerActive{
        text-decoration: underline; 
    }

    .headerToggle{


    }

    .myLogo{
        width:150px;
        height: 150px;
        margin: auto;
       ;
    }

    main{
        padding-top: 20px;
        ²
    }

   



    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        font-size: 0.66rem;
        color: #FFFFFF;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .mainFooter nav ul{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 1.2rem;
        font: inherit;
        vertical-align: baseline;
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .mainFooter nav ul li {
        padding-left: 1rem;
}

    .mainFooter nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        }

    .mainFooter nav ul li a:hover {
        color: #37372b;
}
}